<mat-card class="card-position">
  <p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
    <mat-card-header>
      <mat-card-title>First part of questions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--  -->
      <form  [formGroup]="secondPartQuestions">
        <mat-form-field appearance="standard">
          <input
            matInput
            type="text"
            formControlName="childrenYears"
            id="childrenYears"
            required
            [(ngModel)]="this.childrenYears"
      
          />
        </mat-form-field>
  
        <mat-form-field id="goodInSport" appearance="standard">
          <input
            matInput
            type="text"
            formControlName="goodInSport"
            id="goodInSport"
            required
            [(ngModel)]="this.goodInSport"
          />
        </mat-form-field>
  
        <mat-form-field id="physiclyActive" appearance="standard">
          <input
            matInput
            type="text"
            formControlName="physiclyActive"
            id="physiclyActive"
            required
            [(ngModel)]="this.physiclyActive"
          />
        </mat-form-field>
  
        <mat-form-field id="loveReserching" appearance="standard">
          <input
            matInput
            type="text"
            id="loveReserching"
            formControlName="loveReserching"
            required
            [(ngModel)]="this.loveReserching"
          />
        </mat-form-field>
  
        <mat-form-field id="moreTime" appearance="standard">
          <input
            matInput
            type="text"
            id="moreTime"
            formControlName="moreTime"
            required
            [(ngModel)]="this.moreTime"
          />
        </mat-form-field>

        
        <mat-form-field id="introvertEkstrovert" appearance="standard">
            <input
              matInput
              type="text"
              id="introvertEkstrovert"
              formControlName="introvertEkstrovert"
              required
              [(ngModel)]="this.introvertEkstrovert"
            />
          </mat-form-field>

          
        <mat-form-field id="personalities" appearance="standard">
            <input
              matInput
              type="text"
              id="personalities"
              formControlName="personalities"
              required
              [(ngModel)]="this.personalities"
            />
          </mat-form-field>
      </form>
  
      <mat-action-list>
        <button
          mat-flat-button
          color="accent"
          type="submit"
          class="submit-button"
          (click)="submit()"
          >
        <!-- [disabled]="firstPartQuestions.invalid" -->
          Next
        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
  
