<div class="back">
  <p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
  <mat-card class="card-position back">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <!--  -->
      <div class="divForm">
        <div class="f2">
          <!-- [formGroup]="secondPartQuestions"> -->
          <mat-label class="labelColor"
            >Select years of the youngest children: </mat-label
          ><br />

          <!-- <mat-form-field appearance="fill"> -->
          <select [(ngModel)]="this.selectedYears">
            <option *ngFor="let o of options" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>
          <!-- <select matNativeControl required>
              <option (clicked)="this.changeY(0)" value="lowerThanOne">
                Lower than 1 year
              </option>
              <option (clicked)="this.changeY(1)" value="one">1 year</option>
              <option (clicked)="this.changeY(5)" value="five">5 years</option>
              <option (clicked)="this.changeY(12)" value="twelve">
                12 years
              </option>
              <option (clicked)="this.changeY(16)" value="moreThen15">
                More then 15 years
              </option>
            </select> -->
          <!-- </mat-form-field> -->

          <mat-label class="labelColor"
            >Select how good in sport are children: </mat-label
          ><br />

          <select
            [(ngModel)]="this.selectedSport"
            class="selectC"
            matNativeControl
            required
          >
            <option
              class="optionC"
              *ngFor="let o of optionsSport"
              value="{{ o.value }}"
            >
              {{ o.name }}
            </option>
          </select>
          <!-- <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="good">
                Good (Love runing for example or play something)
              </option>
              <option value="bad">
                Not so good (Not relly active or not intrested in sport)
              </option>
            </select>
          </mat-form-field> -->

          <mat-label class="labelColor"
            >Select how physicly active are children: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedActivness">
            <option *ngFor="let o of optionsActivness" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>
          <!-- <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="active">Active</option>
              <option value="notActive">Not so active</option>
            </select>
          </mat-form-field> -->

          <mat-label class="labelColor"
            >Select how much your children love reserching: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedResersching">
            <option *ngFor="let o of optionsRes" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <!-- <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="love">
                Love reserching (Love to explore new places, animals, science)
              </option>
              <option value="dontLove">
                Not really intrested in reserching
              </option>
            </select>
          </mat-form-field> -->

          <mat-label class="labelColor"
            >Select would you like that children speding more time with animal? </mat-label
          ><br />
          <select [(ngModel)]="this.selectedMoreTime">
            <option *ngFor="let o of optionsMoreTime" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <!-- <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="yess">Yess</option>
              <option value="no">No</option>
            </select>
          </mat-form-field> -->

          <mat-label class="labelColor"
            >Are your children more introvert or ekstrovert? </mat-label
          ><br />
          <select [(ngModel)]="this.selectedIntrovertExtrovert">
            <option *ngFor="let o of optionsType" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <!-- <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="introvert">Introvert</option>
              <option value="ekstrovert">Extrovert</option>
            </select>
          </mat-form-field> -->
        </div>

        <button (click)="this.submit()">test</button>
        <mat-action-list>
          <button
            mat-flat-button
            color="accent"
            type="submit"
            class="submit-button"
            (click)="submit()"
          >
            <!-- [disabled]="firstPartQuestions.invalid" -->
            Next
          </button>
        </mat-action-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
