<div class="back">
  <p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
  <mat-card class="card-position back">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <div class="divForm">
        <form [formGroup]="secondPartQuestions">
          <mat-label class="labelColor">Input name of pet (species): </mat-label
          ><br />
          <mat-form-field id="name" appearance="standard">
            <input
              matInput
              type="text"
              id="name"
              formControlName="name"
              required
              [(ngModel)]="this.name"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input how much hours per week you can spend on pet:
          </mat-label>
          <mat-form-field id="hoursPerWeek" appearance="standard">
            <input
              matInput
              type="number"
              formControlName="hoursPerWeek"
              id="hoursPerWeek"
              required
              [(ngModel)]="this.hoursPerWeek"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input price which you can spend for bying pet:
          </mat-label>
          <mat-form-field id="price" appearance="standard">
            <input
              matInput
              type="number"
              id="price"
              formControlName="price"
              required
              [(ngModel)]="this.price"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input level of stress of your job from 0-5: </mat-label
          ><br />
          <mat-form-field id="levelOfStressOnJob" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfStressOnJob"
              formControlName="levelOfStressOnJob"
              required
              [(ngModel)]="this.levelOfStressOnJob"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input level of adoptable on kids: </mat-label
          ><br />
          <mat-form-field id="adoptableOnKids" appearance="standard">
            <input
              matInput
              type="number"
              id="adoptableOnKids"
              formControlName="adoptableOnKids"
              required
              [(ngModel)]="this.adoptableOnKids"
            />
          </mat-form-field>
          <mat-label class="labelColor"
            >Input level of protection from 0-5:
          </mat-label>
          <mat-form-field id="levelOfProtection" appearance="standard">
            <input
              matInput
              type="number"
              formControlName="levelOfProtection"
              id="levelOfProtection"
              required
              [(ngModel)]="this.levelOfProtection"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input level of adoptable on kids: </mat-label
          ><br />
          <mat-form-field id="levelOfActivity" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfActivity"
              formControlName="levelOfActivity"
              required
              [(ngModel)]="this.levelOfActivity"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input how much do you love meditation from 0-5: </mat-label
          ><br />
          <mat-form-field id="loveMeditation" appearance="standard">
            <input
              matInput
              type="number"
              id="loveMeditation"
              formControlName="loveMeditation"
              required
              [(ngModel)]="this.loveMeditation"
            />
          </mat-form-field>
          <mat-label class="labelColor"
            >Input your level of persistence from 0-5: </mat-label
          ><br />
          <mat-form-field id="levelOfPersistance" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfPersistance"
              formControlName="levelOfPersistance"
              required
              [(ngModel)]="this.levelOfPersistance"
            />
          </mat-form-field>
          <mat-label class="labelColor"
            >Input how much do you love molting from 0-5: </mat-label
          ><br />
          <mat-form-field id="degreeOfMolting" appearance="standard">
            <input
              matInput
              type="number"
              id="degreeOfMolting"
              formControlName="degreeOfMolting"
              required
              [(ngModel)]="this.degreeOfMolting"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input your level of patience from 0-5: </mat-label
          ><br />
          <mat-form-field id="levelOfPatience" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfPatience"
              formControlName="levelOfPatience"
              required
              [(ngModel)]="this.levelOfPatience"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input your level of friendlyness from 0-5: </mat-label
          ><br />
          <mat-form-field id="friendly" appearance="standard">
            <input
              matInput
              type="number"
              id="friendly"
              formControlName="friendly"
              required
              [(ngModel)]="this.friendly"
            />
          </mat-form-field>
        </form>

        <div class="f2">
          <mat-label class="labelColor"
            >Select years of the youngest children: </mat-label
          ><br />

          <select [(ngModel)]="this.selectedYears">
            <option *ngFor="let o of options" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor"
            >Select how good in sport are children: </mat-label
          ><br />

          <select
            [(ngModel)]="this.selectedSport"
            class="selectC"
            matNativeControl
            required
          >
            <option
              class="optionC"
              *ngFor="let o of optionsSport"
              value="{{ o.value }}"
            >
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor"
            >Select how physicly active are children: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedActivness">
            <option *ngFor="let o of optionsActivness" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor"
            >Select how much your children love reserching: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedResersching">
            <option *ngFor="let o of optionsRes" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor"
            >Select would you like that children speding more time with animal? </mat-label
          ><br />
          <select [(ngModel)]="this.selectedMoreTime">
            <option *ngFor="let o of optionsYN" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor"
            >Are your children more introvert or ekstrovert? </mat-label
          ><br />
          <select [(ngModel)]="this.selectedIntrovertExtrovert">
            <option *ngFor="let o of optionsType" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>
          <mat-label class="labelColor">Select do you love running: </mat-label
          ><br />

          <select [(ngModel)]="this.selectedRunning">
            <option *ngFor="let o of optionsYN" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>
          <mat-label class="labelColor">Select do you love walking: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedWalking">
            <option *ngFor="let o of optionsYN" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor">Select do you love mystery: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedMystery">
            <option *ngFor="let o of optionsYN" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>

          <mat-label class="labelColor"
            >Select your type of personality: </mat-label
          ><br />
          <select [(ngModel)]="this.selectedType">
            <option *ngFor="let o of optionsType" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>
          <mat-label class="labelColor"
            >Select where would your pet live: </mat-label
          ><br />
          <select [(ngModel)]="this.placeForLiving">
            <option *ngFor="let o of optionsPlace" value="{{ o.value }}">
              {{ o.name }}
            </option>
          </select>
        </div>
        <section class="section2">
          <div>
            Chose pets which you live with:<br />
            <span *ngFor="let item of listLiveWith">
              <input
                class="checkBox"
                type="checkbox"
                [(ngModel)]="item.checked"
                (change)="changeCheckbox($event)"
              />
              <img mat-icon [src]="item.img" class="side-icon" />{{ item.type }}
              <br />
            </span>
          </div>
        </section>

        <mat-action-list>
          <button
            mat-flat-button
            color="accent"
            type="submit"
            class="submit-button"
            (click)="submit()"
          >
            Next
          </button>
        </mat-action-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
