<div class="back">
  <p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
  <mat-card class="card-position back">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <div class="divForm">
        <form [formGroup]="secondPartQuestions">
          <mat-label class="labelColor">Input name of pet (species): </mat-label
          ><br />
          <mat-form-field id="name" appearance="standard">
            <input
              matInput
              type="text"
              id="name"
              formControlName="name"
              required
              [(ngModel)]="this.name"
            />
          </mat-form-field>

          <mat-label class="labelColor">Select type: </mat-label><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="fish">Fish</option>
              <option value="bird">Bird</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Input how much hours per week you can spend on pet:
          </mat-label>
          <mat-form-field id="hoursPerWeek" appearance="standard">
            <input
              matInput
              type="number"
              formControlName="hoursPerWeek"
              id="hoursPerWeek"
              required
              [(ngModel)]="this.hoursPerWeek"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input price which you can spend for bying pet:
          </mat-label>
          <mat-form-field id="price" appearance="standard">
            <input
              matInput
              type="number"
              id="price"
              formControlName="price"
              required
              [(ngModel)]="this.price"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Select where would your pet live:
          </mat-label>
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="inside">Inside of house (or flat)</option>
              <option value="outside">In the garden</option>
              <option value="insideOutside">
                In the garden or inside of house (flat)
              </option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Select miminum years of children: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="lowerThanOne">Lower than 1 year</option>
              <option value="one">1 year</option>
              <option value="five">5 years</option>
              <option value="twelve">12 years</option>
              <option value="moreThen15">More then 15 years</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor">Select do you love running: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="loveRunning">Love running</option>
              <option value="notLoveRuning">Don't love runinig</option>
            </select>
          </mat-form-field>
          <mat-label class="labelColor">Select do you love walking: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="loveWalking">Love walking</option>
              <option value="notLoveWalking">Don't love walking</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Select your type of personality: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="extrovert">Extrovert</option>
              <option value="introvert">Introvert</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Input level of stress of your job from 0-5: </mat-label
          ><br />
          <mat-form-field id="levelOfStressOnJob" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfStressOnJob"
              formControlName="levelOfStressOnJob"
              required
              [(ngModel)]="this.levelOfStressOnJob"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input level of adoptable on kids: </mat-label
          ><br />
          <mat-form-field id="adoptableOnKids" appearance="standard">
            <input
              matInput
              type="number"
              id="adoptableOnKids"
              formControlName="adoptableOnKids"
              required
              [(ngModel)]="this.adoptableOnKids"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input level of adoptable on kids: </mat-label
          ><br />
          <mat-form-field id="levelOfActivity" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfActivity"
              formControlName="levelOfActivity"
              required
              [(ngModel)]="this.levelOfActivity"
            />
          </mat-form-field>

          <mat-label class="labelColor">Select do you love mystery: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="yess">Yess</option>
              <option value="no">No</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Input how much do you love meditation from 0-5: </mat-label
          ><br />
          <mat-form-field id="loveMeditation" appearance="standard">
            <input
              matInput
              type="number"
              id="loveMeditation"
              formControlName="loveMeditation"
              required
              [(ngModel)]="this.loveMeditation"
            />
          </mat-form-field>
          <mat-label class="labelColor"
            >Input how much do you love meditation from 0-5: </mat-label
          ><br />
          <mat-form-field id="degreeOfMolting" appearance="standard">
            <input
              matInput
              type="number"
              id="degreeOfMolting"
              formControlName="degreeOfMolting"
              required
              [(ngModel)]="this.degreeOfMolting"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input your level of patience from 0-5: </mat-label
          ><br />
          <mat-form-field id="levelOfPatience" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfPatience"
              formControlName="levelOfPatience"
              required
              [(ngModel)]="this.levelOfPatience"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input your level of persistence from 0-5: </mat-label
          ><br />
          <mat-form-field id="levelOfPersistance" appearance="standard">
            <input
              matInput
              type="number"
              id="levelOfPersistance"
              formControlName="levelOfPersistance"
              required
              [(ngModel)]="this.levelOfPersistance"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Input your level of friendlyness from 0-5: </mat-label
          ><br />
          <mat-form-field id="friendly" appearance="standard">
            <input
              matInput
              type="number"
              id="friendly"
              formControlName="friendly"
              required
              [(ngModel)]="this.friendly"
            />
          </mat-form-field>

          <mat-label class="labelColor"
            >Select how good in sport are children: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="good">
                Good (Love runing for example or play something)
              </option>
              <option value="bad">
                Not so good (Not relly active or not intrested in sport)
              </option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Select how physicly active are children: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="active">Active</option>
              <option value="notActive">Not so active</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Select how much your children love reserching: </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="love">
                Love reserching (Love to explore new places, animals, science)
              </option>
              <option value="dontLove">
                Not really intrested in reserching
              </option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Would you like that children speding more time with animal? </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="yess">Yess</option>
              <option value="no">No</option>
            </select>
          </mat-form-field>

          <mat-label class="labelColor"
            >Are your children more introvert or ekstrovert? </mat-label
          ><br />
          <mat-form-field appearance="fill">
            <select matNativeControl required>
              <option value="introvert">Introvert</option>
              <option value="ekstrovert">Extrovert</option>
            </select>
          </mat-form-field>
        </form>

        <mat-action-list>
          <button
            mat-flat-button
            color="accent"
            type="submit"
            class="submit-button"
            (click)="submit()"
          >
            Next
          </button>
        </mat-action-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
