<div id="container-div" class="back">
  <div>
    <p>
      <mat-toolbar>
        <span>My Application</span>
      </mat-toolbar>
    </p>
    <form [formGroup]="secondPartQuestions">
      <div class="divForm">
        <mat-label class="labelColor">Input email: </mat-label><br />
        <mat-form-field id="email" appearance="standard">
          <input
            matInput
            type="text"
            id="email"
            formControlName="email"
            required
            [(ngModel)]="this.email"
          />
        </mat-form-field>

        <mat-label class="labelColor">Input password: </mat-label><br />
        <mat-form-field id="password" appearance="standard">
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
            required
            [(ngModel)]="this.password"
          />
        </mat-form-field>
      </div>
      <button (click)="this.submit()">Login</button>
    </form>
  </div>
</div>
