<mat-card class="card-position">
    <mat-card-header>
      <mat-card-title>First part of questions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--  -->
      <form  [formGroup]="secondPartQuestions">
        <mat-form-field appearance="standard">
          <input
            matInput
            type="text"
            formControlName="loveRunning"
            id="loveRunning"
            required
            [(ngModel)]="this.loveRunning"
      
          />
        </mat-form-field>
  
        <mat-form-field id="loveWalking" appearance="standard">
          <input
            matInput
            type="text"
            formControlName="loveWalking"
            id="loveWalking"
            required
            [(ngModel)]="this.loveWalking"
          />
        </mat-form-field>
  
        <mat-form-field id="extroversion" appearance="standard">
          <input
            matInput
            type="text"
            formControlName="extroversion"
            id="extroversion"
            required
            [(ngModel)]="this.extroversion"
          />
        </mat-form-field>
  
        <mat-form-field id="introversion" appearance="standard">
          <input
            matInput
            type="text"
            id="introversion"
            formControlName="introversion"
            required
            [(ngModel)]="this.introversion"
          />
        </mat-form-field>
  
        <mat-form-field id="levelOfStressOnJob" appearance="standard">
          <input
            matInput
            type="text"
            id="levelOfStressOnJob"
            formControlName="levelOfStressOnJob"
            required
            [(ngModel)]="this.levelOfStressOnJob"
          />
        </mat-form-field>

        
        <mat-form-field id="loveMystery" appearance="standard">
            <input
              matInput
              type="text"
              id="loveMystery"
              formControlName="loveMystery"
              required
              [(ngModel)]="this.loveMystery"
            />
          </mat-form-field>

        <mat-form-field id="loveMeditation" appearance="standard">
            <input
              matInput
              type="text"
              id="loveMeditation"
              formControlName="loveMeditation"
              required
              [(ngModel)]="this.loveMeditation"
            />
          </mat-form-field>

          <mat-form-field id="levelOfPatience" appearance="standard">
            <input
              matInput
              type="text"
              id="levelOfPatience"
              formControlName="levelOfPatience"
              required
              [(ngModel)]="this.levelOfPatience"
            />
          </mat-form-field>

          <mat-form-field id="levelOfPersistance" appearance="standard">
            <input
              matInput
              type="text"
              id="levelOfPersistance"
              formControlName="levelOfPersistance"
              required
              [(ngModel)]="this.levelOfPersistance"
            />
          </mat-form-field>

          <mat-form-field id="friendly" appearance="standard">
            <input
              matInput
              type="text"
              id="friendly"
              formControlName="friendly"
              required
              [(ngModel)]="this.friendly"
            />
          </mat-form-field>
  
      </form>
  
      <mat-action-list>
        <button
          mat-flat-button
          color="accent"
          type="submit"
          class="submit-button"
          (click)="submit()"
          >
        <!-- [disabled]="firstPartQuestions.invalid" -->
          Next
        </button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
  
